@import url(https://fonts.googleapis.com/css?family=Nunito);

.heading_actions {
    float: right;
    margin-top: 0px;
    padding-right: 15px;
}

#side-menu li a.sub-menu{
	padding: 10px 10px 10px 30px;
	font-weight: 400;
}

#side-menu li.active {
    background: #fff;
    /*border-color: #000;*/
    border-left: 3px solid #6f2238;
    font-color: #6f2238;
}

#side-menu li.active a{
    color: #6f2238;
    font-weight: 600;
}

.csstr {
    background-color: #6f2238;
    color: #fff;
    /*    
    height: 40px;
    */
}